.container {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.profile-img {
  height: 50px;
}
.details-container {
  text-align: center;
  width: 100vw;
  flex: display;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-details {
  list-style-type: none;
}

.profile-description {
  color: black;
  font-size: 8px;
}
.company-name {
  color: black;
  font-size: 10px;
}
.button {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
.arrow {
  align-self: flex-end;
  height: 20px;
}
